.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Responsive  */

@media only screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
